.navbar {
    height: 55px;
    color: floralwhite;
}
.navbutton, .dropdown-item {
    cursor: pointer;
}
.navbutton:hover {
    text-shadow: 0 0 1px white;
}
.user {
    max-width: 150px;
}
.login-regis-modal .form {
    display: none;
}
.login-regis-modal .active-form {
    display: block;
}
.form label {
    display: flex;
    flex-direction: column;
    margin-bottom: 0.5rem;
    text-align: center;
}
.form label input {
    margin-top: 0.25rem;
}

.text-truncate {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    white-space: normal;
}

.new {
    padding: 1.25rem 0;

    --px-padding: 1.25rem;
}
    .new .row {
        margin: 0;
    }
    .new .img-fluid {
        width: 100%;
        height: 100%;
    }
.new__head {
    padding: 0 var(--px-padding);
    margin-bottom: var(--px-padding);
}
.new__title {
    -webkit-line-clamp: 2;
}
.new__title-comment {
    -webkit-line-clamp: 1;
}
.new__title-comment-wrap {
    margin-bottom: 1rem;
}
.new__content {

}
.new__categories {
    white-space: nowrap;
}
.new__category {
    font-size: 0.8rem;
    padding: 0.5rem 0.7rem;
}
.new__image-wrap {
    width: 100%;
    height: 360px;
    padding-left: 0;
    padding-right: 0;
    margin-bottom: 1rem;
}
.new__text {
    padding: 0 var(--px-padding);
    -webkit-line-clamp: 7;
}

@media (max-width: 1024px) {
    .new__image-wrap {
        height: 240px;
    }
}
@media (max-width: 720px) {
    .new__image-wrap {
        height: auto;
    }
    .new__title {
        -webkit-line-clamp: 3;
    }
    .new__title-comment {
        -webkit-line-clamp: 2;
    }
}